body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.head {
    padding: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    padding-top: 10px;
    padding-left: 20px;
}

.Facebook {
    margin: 15px;
}

.Facebook:hover {
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: #E5BF4A;
    cursor: pointer;
}

.Instagram {
    margin: 15px;
    text-decoration: none;
    color: white;
}

.Instagram1:hover {
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: #E5BF4A;
    cursor: pointer;
}

.Twitter {
    margin: 15px;
}

.Twitter:hover {
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: #E5BF4A;
    cursor: pointer;
}

.logo {
    padding-left: 9%;
}

.call-us {
    background-color: black;
    color: #E5BF4A;
    border: 2px solid #E5BF4A;
    margin: 20px 30px;
    padding: 15px;
    font-size: medium
}

.call-us:hover {
    background-color: #E5BF4A;
    color: white;

}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px;
}

.navbarr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: black;
}

.navbarr a:hover {
    color: #E5BF4A;
}

.home {
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.cakes {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
}

.about {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
}

.blog {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
}

.contact {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
}

.bg-img {
    background-image: url(images/h1_hero1.jpg.webp);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ml {
    margin-left: 150px;
    padding-top: 200PX;
}

.healthy {
    font-size: 400%;
}

.order-btn {
    font-size: medium;
    margin-top: 0px;
    padding: 15px 25px;
    background-color: #E5BF4A;
    border: 1px solid #E5BF4A;
}

.order-btn:hover {
    background-color: transparent;
    color: #E5BF4A;
    border: 2px solid #E5BF4A;
}

.schilers {
    text-align: center;
    font-size: 35px;
    border-bottom: 50% solid #E5BF4A;
}

.grid-section{
    margin: 10px 15%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.youtube-img{
    background-image: url(images/video-bg.jpg.webp);
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10%;
}

.youtube-btn{
    position: relative;
    top: 50%;
    left: 50%; 
    border-radius: 50%;
    border: solid #E5BF4A;
    padding: 20px;
    background-color: #E5BF4A;
    cursor: pointer;
}

.youtube-btn:hover{
    background-color: #FFF;
    border: 5px solid #FFF;
    left: 49.8%;
}

.blog-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10%;
}


.tomato{
    border: 1px solid #fff;
}

.h3{
    color: #E5BF4A;
}

.insta-sec{
    margin: 10px 10%;
    text-align: center;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 3% 10%;
    padding: 5% 0;
}

.f-instagram{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.f-facebook{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.f-twitter{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
}