body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.head {
    padding: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    padding-top: 10px;
    padding-left: 20px;
}

.Facebook{
    margin: 15px;
}

.Facebook:hover{
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: gold;
    cursor: pointer;
}

.Instagram{
    margin: 15px;
    text-decoration: none;
    color: white;
}

.Instagram1:hover{
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: gold;
    cursor: pointer;
}

.Twitter{
    margin: 15px;
}

.Twitter:hover{
    transform: scaleX(-1);
    transition: transform 0.5s;
    color: gold;
    cursor: pointer;
}

.logo{
    padding-left: 9%;
}

.call-us {
    background-color: black;
    color: gold;
    border: 2px solid gold; 
    margin: 20px 30px;
    padding: 15px;
    font-size: medium
}

.call-us:hover {
    background-color: gold;
    color: white;

}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px;
}

.navbar a:hover{
color: gold;
}

.navbarr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

}

.home{
    margin-right: 30px ;
    text-decoration: none;
    color: white;
}

.cakes{
    margin: 0px 30px ;
    text-decoration: none;
    color: white;
}

.about{
    margin:0px 30px ;
    text-decoration: none;
    color: white;
}

.blog{
    margin: 0px 30px ;
    text-decoration: none;
    color: white;
}

.contact{
    margin: 0px 30px ;
    text-decoration: none;
    color: white;
}

.bg-img {
    background-image: url(images/h1_hero1.jpg.webp);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ml{
    margin-left: 150px;
    padding-top: 200PX;
}

.healthy{
    font-size: 400%;
    font-family:'Courier New', Courier, monospace;
}

.order-btn{
    font-size: medium;
    margin-top: 0px;
    padding: 15px 25px;
    background-color: gold;
    border: 1px solid gold;
}

.order-btn:hover{
    background-color: transparent;
    color: gold;
    border: 2px solid gold;
}

.schilers{
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}